name: Sync Fork with Upstream
on:
  schedule:
    - cron: '0 8 * * *'
  workflow_dispatch:
jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout your fork
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
        token: ${{ secrets.PAT_WITH_WORKFLOW_PERMISSION }}
    - name: Sync with upstream
      run: |
        git config user.name "GitHub Actions"
        git config user.email "actions@github.com"
        git remote add upstream https://github.com/ScoopInstaller/Extras.git || true
        git fetch upstream
        git checkout main
        git reset --hard upstream/main
        git push origin main --force